body{
 
  background-color: lightgray;
  color: white;
  font-size: 20px;
  text-align: center; 
  font-family: 'Playfair Display', serif;
 
   
  background-repeat: no-repeat;
}


#banner { 

background-size: cover;
padding: 150px;
text-shadow: 1px 1px 5px black;
background-image: url("https://images.unsplash.com/photo-1515937924885-b5b246ce8f64?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1049&q=80");
background-position: center;

}




h1{
  font-family: Courier;
  color: black;
  font-weight: lighter;
  font-size: 40px;
}
h2 {
  font-family: Courier;
  color: black;
  font-weight: lighter;
  font-size: 30px;
}
a {
  color: black;
}

#logo { 
width: 150px;

}
 


#main { 

color: white;
font-size: 50px;
}



.section 
 { 
background-color: f0decb;
padding: 10px;
border: pink 5px solid;
margin:20px 20px 20px 20px;



}


.social 
 { 
color: white;

}



#footer { 
background-color:000000;

}


.container 

 { 

  margin: 


